*
{
 margin: 0%;
 padding: 0%;
}
h1{
    color:rgb(162, 243, 161);
    background-color: black;
    font-size: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10000;
    text-align: center;
}

h2{
    color: green;
}

html,body{
    height: 100%;
    width: 100%;
}

div{
    color:royalblue;
    background-color: black;
    height: 500px;
    width: 300px;

}